.navigator{
    position: sticky;
    top: 0px;
    z-index: 100;
    padding-bottom: 10px;
}

.titulo{
    padding-top: 25px;
}

.link{
    font-size: 20px;
    
}

.texto {
    font-size: 20px;
    text-align: justify;
    font-family: Roboto mono;
}

.imagen{
    padding-top: 10%;
}

.tabla-container{
    height: 700px;
}

.tabla-paises{
    height: 100%;
    overflow-y: scroll;
}

.tabla-paises .sticky{
    position: sticky;
    top: 0;
    border-radius: 0;
}
